<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.streamplayer"
	version="1.0">

	<name>StreamPlayer</name>
	<description>StreamPlayer for Cordova 3.0</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>    

	<js-module src="www/streamplayer.js" name="StreamPlayer">
		<clobbers target="cordova.plugins.streamPlayer" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/StreamPlayer.java" target-dir="src/com/plugin/streamplayer" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StreamPlayer">
				<param name="android-package" value="com.plugin.streamplayer.StreamPlayer" />
			</feature>
		</config-file>
	</platform>    

</plugin>
